/* Global Styles */
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* Header Navbar Styles */
.top-header {
    padding: 20px;
}
.top-left {
    display: inline;  
}
.top-left a {
    padding: 10px;
    color: #000000;
}
.top-left a:hover{
    text-decoration: underline;
}
.top-right {
    display: inline;
    float: right;
}
.top-right a {
    padding: 10px;
    color: #000000;
}
.top-right a:hover{
    text-decoration: underline;
}

/* Center Styles */
.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    flex: 1;
}

.google-img {
    height: 150;
    width:500px;
}
.searchbar-container {
    display: flex;
    width:582px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    background: #fff;
}
.searchbar-container:hover{
    box-shadow: 0 0 5px  #808080;
}

.searchbar{
   height: 20px;
   width: 500px;
   margin-top: 10px;
   margin-left: 50px;
   border: none;
   outline: none;
}


.search-icon {
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    color: #808080;
}

.search-buttons{
   padding-top: 30px;
}
.buttons {
    height: 36px;
    min-width: 46px;
    font-size: 14px;
    padding:0 16px;
    margin: 11px 14px;
    background-color: #f2f2f2;
    color:#5F6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.buttons:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    color: #222;

}

/* Footer Styles */
footer{
   width: 100%;
   bottom: 0;
   position: fixed;
}

.footer-links {
    display: flex;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 20px;
    gap: 12px;
    line-height: 10px;
}

.bottom-left a {
    color: #5f6368;

}
.bottom-left a:hover {
    text-decoration: underline;
}
.right {
    display: flex;
    margin-left: auto;
    gap: 12px;
}

.bottom-right a{
    color: #5f6368;
}
.bottom-right a:hover {
    text-decoration: underline;
}
