/* Global Styles */
* {
    padding: 0;
    margin: 0;
}
body {
    height: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
/* Header Navbar Styles */
.top-header {
    padding: 20px;
}
.top-left {
    display: inline;  
}
.top-left a {
    padding: 10px;
    color: #000000;
    font-size: 14px;
}
.top-right {
    display: inline;
    float: right;
}
.top-right a {
    padding: 10px;
    color: #000000;
    font-size: 14px;
}

/* Center Styles */
.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    flex: 1;
}

.google-img {
    height: 150;
    width:500px;
}

.searchbar{
    width:450px;
    height: 25px;
    border-radius: 10px;
}

.search-buttons{
   padding-top: 30px;
}
.buttons {
    height: 36px;
    min-width: 46px;
    font-size: 14px;
    padding:0 16px;
    margin: 11px 14px;
    background-color: #f2f2f2;
    color:#5F6368;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.buttons:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    color: #222;

}

/* Footer Styles */
footer{
    bottom: 0;
    position: fixed;
    padding: 20px;
    width: 100%;
}

.footer-header {
}

.bottom-left {
    display: inline;
    float: left;
}
.bottom-left a{
    padding: 10px;
}
.middle-link {
    display: inline;
    
}
.middle-link a {
    left: 50%;
}
.bottom-right {
    display: inline;
    float: right;
}
.bottom-right a {
    padding: 10px;
}